[Desktop Entry]
Type=Application
Name=Ramses
GenericName=Production Manager
Comment=The Ramses Asset Management System, pipeline automation, production tracking and planning
Exec=ramses
Icon=ramses
Categories=Office;ProjectManagement;Publishing;Archiving;FileTools;Qt;
Name[en_EN]=Ramses.desktop
