[Desktop Entry]
Type=Application
Name=Ramses
GenericName=Production Manager
Comment=The Renewed Asset Management System, pipeline automation, production tracking and planning
Exec=ramses
Icon=ramses
Categories=Office;Utility;ProjectManagement;Publishing;Archiving;FileTools;Monitor;Qt;
Name[en_EN]=Ramses.desktop
