QDockWidget QFrame{
    border-radius: @padding-small;
    background-color: @color-dark-grey;
}

QDockWidget QFrame:hover {
    background-color: @color-less-dark-grey;
}

QDockWidget QToolButton {
    background-color: rgba(0,0,0,0);
}

QDockWidget QLabel {
    background-color: rgba(0,0,0,0);
}

StateBox QAbstractItemView{
    padding: 0;
}

StateBox::down-arrow {
    image: none;
    padding: none;
}

QTabBar::tab {
    background-color: @color-less-dark-grey;
    color: @color-light-grey;
}

QTabBar::tab:selected {
    background-color: @color-very-dark-grey;
}

QTabBar::tab:hover {
        background-color: @color-medium-grey;
}
