.block {
    padding: @margin;
    border-radius: @radius;
    background-color: @background-push;
}

.block QScrollBar::add-page,
.block QScrollBar::sub-page
{
    background-color: @background-push;
}
