.button,
QToolButton,
QPushButton:flat {
    background: transparent;
    padding: @margin;
    border-radius: @radius;
}

.button:pressed,
QToolButton:pressed,
QPushButton:pressed,
QPushButton:checked,
QPushButton:open {
    background-color: @background-push-more;
    color: @foreground;
}
