DuListView,
DuListWidget {
    background-color: @color-very-dark-grey;
    alternate-background-color: @color-darker-grey;
    color: @color-less-light-grey;
    selection-color: @focus;
    selection-background-color: @color-less-dark-grey;
    border-radius: @padding-small;
    border: none;
}

DuListWidget::item,
DuListView::item {
    color: @color-less-light-grey;
    padding-left: @padding-extra-large;
    padding-right: @padding-extra-large;
    min-height: @very-big-button-size;
    border-left: @padding-large;
    border-radius: @padding-small;
}

DuListWidget::item:hover,
DuListView::item:hover
{
    background-color: @color-dark-grey;
}

DuListWidget::item:selected,
DuListView::item:selected
{
    background-color: none;
    border: none;
    color: @focus;
}

DuListWidget QLineEdit,
DuListView QLineEdit {
    background-color: @color-very-dark-grey;
    selection-background-color: @focus-dark;
    min-height: @big-button-size;
    padding: 0;
    margin: 0;
    border: none;
}

DuListWidget DuScrollBar::add-page,
DuListWidget DuScrollBar::sub-page,
DuListView DuScrollBar::add-page,
DuListView DuScrollBar::sub-page {
    background-color: @color-very-dark-grey;
}
