/* EDIT TEXTS */

DuTextEdit,
DuLineEdit,
DuPlainTextEdit,
DuTextBrowser {
    background-color: @color-very-dark-grey;
    color: @color-less-light-grey;
    border:none;
    padding: @padding-small;
    border-radius: @padding-small;
    selection-color: @color-light-grey;
    selection-background-color: @color-dark-blue;
}

DuTextEdit:hover,
DuLineEdit:hover,
DuPlainTextEdit:hover,
DuTextBrowser:hover,
DuTextEdit:focus,
DuLineEdit:focus,
DuPlainTextEdit:focus,
DuTextBrowser:focus {
    color: @color-light-grey;
}

DuTextEdit:disabled,
DuLineEdit:disabled,
DuPlainTextEdit:disabled,
DuTextBrowser:disabled {
    background-color: @color-dark-grey;
    color: @color-medium-grey;
}