QCheckBox, QRadioButton {
    background: transparent;
    border: none;
    padding: @margin;
    border-radius: @radius;
}

QCheckBox::indicator, QRadioButton::indicator {
    background-color: @background-push-more;
    border: @margin solid @background-push-more;
    image:none;
    width: @indicator;
    height: @indicator;
}

QCheckBox::indicator:disabled, QRadioButton::indicator:disabloed {
    border: @margin solid @background-push;
}

QCheckBox::indicator {
    border-radius: @radius;
}

QRadioButton::indicator {
    border-radius: @radius-big;
}

QCheckBox::indicator:unchecked, QRadioButton::indicator:unchecked {
    background-color: @background-push-more;
}

QCheckBox::indicator:unchecked:pressed, QRadioButton::indicator:unchecked:pressed {
    background-color: @background-pull;
}

QCheckBox::indicator:checked, QRadioButton::indicator:checked {
    background-color: #30ca4e;
}

QCheckBox::indicator:checked:pressed, QRadioButton::indicator:checked:pressed {
    background-color: #ca1325;
}

QCheckBox::indicator:unchecked:disabled, QRadioButton::indicator:unchecked:disabled {
    background-color:  @background-push;
}


QCheckBox::indicator:checked:disabled, QRadioButton::indicator:checked:disabled {
    background-color: @background;
}

