QProgressBar {
    text-align: center;
    color: @foreground;
}

QProgressBar::chunk {
    background-color: @focus-push-more;
}

QProgressBar::chunk:hover {
    background-color: @focus-push-more;
}
