/* MAIN AND DIALOGS */

*{
    outline: none;
}

QWidget {
    font-weight: @font-weight-medium;
    font-size: @font-size-medium;
    background-color: rgba(0,0,0,0);
    border: none;
}

QWindow, QMainWindow, QDialog, QMessageBox {
    background-color: @color-dark-grey;
}

QToolTip {
    border: none;
    background-color: @color-light-grey;
    color: @color-very-dark-grey;
    /*border-radius -> Does not work with tool tips (they're actually QLabel)*/
    opacity: 210;
    padding: @padding-small;
    font-weight: @font-weight-light;
    font-size: @font-size-medium;
}

/* LABELS */

QLabel {
    color: @color-less-light-grey;
    background-color: rgba(0,0,0,0);
}

QLabel:disabled {
    color: @color-medium-grey;
}

/* PUSH BUTTONS */

QPushButton {
    background-color: @color-less-dark-grey;
    border-radius: @padding-small;
    padding: @padding-small;
    border: none;
    color: @color-light-grey;
}

QPushButton:hover {
    background-color: @focus-dark;
}

QPushButton:pressed {
    background-color: @color-abyss-grey;
}

QPushButton:disabled {
    background-color: @color-dark-grey;
    color: @color-medium-grey;
}

/* TOOL BUTTONS */

QToolButton {
    background: none;
    padding: @padding-small;
    border-radius: @padding-small;
    color: @color-light-grey ;
}

QToolButton::menu-indicator {
    image: none;
}

QToolButton[popupMode="1"] { /* only for MenuButtonPopup */
    padding-right: @padding-extra-large;
}

QToolButton::menu-button {
  border-top-right-radius: @padding-small;
  border-bottom-right-radius: @padding-small;
  border: none;
}

QToolButton::menu-arrow {
  image: url(":/icons/select");
  width: @very-small-button-size;
  height: @very-small-button-size;
}

QToolButton:hover {
    background-color: @focus-dark;
}

QToolButton:pressed {
    background-color: @color-abyss-grey;
}

QToolButton:disabled {
    color: @color-medium-grey;
}

/* CHECKBOXES AND RADIOBUTTONS */

QCheckBox, QRadioButton {
    border-radius: @padding-small;
    padding: @padding-small;
    border: none;
    color: @color-light-grey;
    background-color: rgba(0,0,0,0);
}

QCheckBox:hover, QRadioButton:hover {
    background-color: @focus-dark;
}

QCheckBox:pressed, QRadioButton:pressed {
    background-color: rgba(0,0,0,0);
}

QCheckBox::indicator, QRadioButton::indicator {
    background-color: @color-abyss-grey;
    border: @margin solid @color-abyss-grey;
    image:none;
    width: @very-small-button-size;
    height: @very-small-button-size;
}

#duqf_block QCheckBox::indicator, #duqf_block QRadioButton::indicator {
    background-color: @color-dark-grey;
    border: @margin solid @color-dark-grey;

}

QCheckBox::indicator {
    border-radius: @padding-small;
}

QRadioButton::indicator {
    border-radius: @padding-medium;
}

QCheckBox::indicator:pressed, QRadioButton::indicator:pressed, #duqf_block QCheckBox::indicator:pressed, #duqf_block QRadioButton::indicator:pressed {
    background-color: @color-light-green;
    border-color: @color-light-green;
}

QCheckBox::indicator:checked, QRadioButton::indicator:checked, #duqf_block QCheckBox::indicator:checked, #duqf_block QRadioButton::indicator:checked {
    background-color: @color-light-green;
    border-color: @color-light-green;
}

QCheckBox::indicator:checked {
    image:url(:/icons/check);
}

QCheckBox::indicator:checked:pressed, QRadioButton::indicator:checked:pressed, #duqf_block QCheckBox::indicator:checked:pressed, #duqf_block QRadioButton::indicator:checked:pressed {
    image:none;
    background-color: @color-light-red;
    border-color: @color-light-red;
}

QCheckBox:disabled, QRadioButton:disabled {
    color: @color-medium-grey;
}

QCheckBox::indicator:disabled, QRadioButton::indicator:disabled {
    border-color: rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
}

#duqf_block QCheckBox::indicator:disabled,#duqf_block QRadioButton::indicator:disabled {
    background-color: @color-very-dark-grey;
    border: @margin solid @color-very-dark-grey;

}

/* DATE TIME */

QDateTimeEdit::drop-down {
    border:none;
}

QDateTimeEdit::indicator {
    image:none;
}

QDateTimeEdit::down-arrow {
      image: url(:/icons/select);
      width: @small-button-size;
      height: @small-button-size;
      padding-right: @padding-small;
}

QDateTimeEdit::down-arrow:disabled {
      image: none;
}

/* CALENDAR */

/* normal days */
QCalendarWidget QAbstractItemView:enabled
{
    background-color: @color-less-dark-grey;
    color: @color-light-grey;
}

/* header row */
QCalendarWidget QWidget {
    alternate-background-color: @color-dark-grey;
}

/* navigation bar */
QCalendarWidget QWidget#qt_calendar_navigationbar
{
    background-color: @color-less-dark-grey;
}

/*QCalendarWidget QToolButton {
    height: 60px;
    width: 150px;
    color: white;
    font-size: 24px;
    icon-size: 56px, 56px;
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop: 0 #cccccc, stop: 1 #333333);
}

QCalendarWidget QMenu {
    width: 150px;
    left: 20px;
    color: white;
    font-size: 18px;
    background-color: rgb(100, 100, 100);
}

QCalendarWidget QSpinBox {
    width: 150px;
    font-size:24px;
    color: white;
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop: 0 #cccccc, stop: 1 #333333);
    selection-background-color: rgb(136, 136, 136);
    selection-color: rgb(255, 255, 255);
}

QCalendarWidget QSpinBox::up-button { subcontrol-origin: border;  subcontrol-position: top right;  width:65px; }

QCalendarWidget QSpinBox::down-button {subcontrol-origin: border; subcontrol-position: bottom right;  width:65px;}

QCalendarWidget QSpinBox::up-arrow { width:56px;  height:56px; }

QCalendarWidget QSpinBox::down-arrow { width:56px;  height:56px; }*/

/* header row */
/*QCalendarWidget QWidget { alternate-background-color: rgb(128, 128, 128); }*/

/* normal days */
/*QCalendarWidget QAbstractItemView:enabled
{
    background-color: blue;
}

QCalendarWidget
{
    background-color: red;
}*/

/* days in other months */
/* navigation bar */
/*QCalendarWidget QWidget#qt_calendar_navigationbar
{
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1, stop: 0 #cccccc, stop: 1 #333333);
}*/

/*QCalendarWidget QAbstractItemView:disabled
{
    color: rgb(64, 64, 64);
}*/

/* EDIT TEXTS */

QTextEdit,
QLineEdit,
QPlainTextEdit,
QTextBrowser {
    background-color: @color-very-dark-grey;
    color: @color-less-light-grey;
    border:none;
    padding: @padding-small;
    border-radius: @padding-small;
    selection-color: @color-light-grey;
    selection-background-color: @color-dark-blue;
}

QTextEdit:hover,
QLineEdit:hover,
QPlainTextEdit:hover,
QTextBrowser:hover,
QTextEdit:focus,
QLineEdit:focus,
QPlainTextEdit:focus,
QTextBrowser:focus {
    color: @color-light-grey;
}

QTextEdit:disabled,
QLineEdit:disabled,
QPlainTextEdit:disabled,
QTextBrowser:disabled {
    background-color: @color-dark-grey;
    color: @color-medium-grey;
}

/* SPIN Boxes */

QSpinBox, QDoubleSpinBox, QDateTimeEdit {
    background-color: @color-very-dark-grey;
    color: @color-less-light-grey;
    border:none;
    padding: @padding-small;
    border-radius: @padding-small;
}

QSpinBox:hover, QDoubleSpinBox:hover, QDateTimeEdit:hover {
    color: @color-light-grey;
}

QSpinBox::up-button, QDoubleSpinBox::up-button, QDateTimeEdit:up-button {
    border:none;
    background-color:@color-very-dark-grey;
    border-radius: @margin;
    image:url(:/icons/move-up);
    width: @very-small-button-size;
    height: @very-small-button-size;
    padding: @half-margin;
    margin-top: @half-margin;
    margin-right: @half-margin;
}

QSpinBox::down-button, QDoubleSpinBox::down-button, QDateTimeEdit:down-button {
    border:none;
    background-color:@color-very-dark-grey;
    border-radius: @margin;
    image:url(:/icons/move-down);
    width: @very-small-button-size;
    height: @very-small-button-size;
    padding: @half-margin;
    margin-bottom: @half-margin;
    margin-right: @half-margin;
}

QSpinBox::up-button:hover, QDoubleSpinBox::up-button:hover, QSpinBox::down-button:hover, QDoubleSpinBox::down-button:hover {
    background-color: @focus-dark;
}

QSpinBox:disabled, QDoubleSpinBox:disabled, QDateTimeEdit:disabled {
    background-color: @color-dark-grey;
    color: @color-medium-grey;
}

QSpinBox::up-button:disabled, QDoubleSpinBox::up-button:disabled, QSpinBox::down-button:disabled, QDoubleSpinBox::down-button:disabled {
    background-color: @color-dark-grey;
    image:none;
}

/* SCROLLBARS */

QScrollBar {
        border: none;
        margin: 0;
        /*border-radius: @padding-small;*/
}

QScrollBar::add-page, QScrollBar::sub-page {
        background-color: @color-very-dark-grey;
        border:none;
}

QScrollBar::handle {
        background-color: @color-medium-grey;
        border: none;
}

QScrollBar::handle:hover {
        background-color: @focus;
}

QScrollBar::add-line, QScrollBar::sub-line {
        border: none;
        width:0;
        height:0;
}

QScrollBar:disabled {
    background-color: @color-dark-grey;
}

QScrollBar::handle:disabled {
    background-color: @color-very-dark-grey;
}

/* VERTICAL */

QScrollBar:vertical {
    /*width: @very-small-button-size;*/
}

QScrollBar::handle:vertical {
        min-height: @small-button-size;
}

/* HORIZONTAL */

QScrollBar:horizontal {
        /*height: @very-small-button-size;*/
}

QScrollBar::handle:horizontal {
        min-width: @small-button-size;
}

/* SLIDERS */

QSlider::sub-page:horizontal {
        background-color: @color-very-dark-grey;
}

QSlider::add-page:horizontal {
        background-color: @color-abyss-grey;
}

QSlider::handle {
        background-color: @color-medium-grey;
        border-radius: @padding-small;
}

QSlider::handle:hover {
    background-color: @focus;
}

QSlider::sub-page:disabled {
    background-color: @color-very-dark-grey;
}

QSlider::add-page:disabled {
    background-color: @color-very-dark-grey;
}

QSlider::handle:disabled {
    background-color: @color-very-dark-grey;
}

/* PROGRESSBARS */

QProgressBar {
        color: @color-less-light-grey;
        border: none;
        background-color: @color-very-dark-grey;
        text-align: center;
        height: @small-button-size;
        border-radius: @padding-small;
}

QProgressBar::chunk {
        background-color: @color-less-dark-grey;
}

QProgressBar:disabled {
    color: @color-medium-grey;
}

QProgressBar::chunk:disabled {
    background-color: @color-less-dark-grey;
}

/* HEADER VIEWS */

QHeaderView {
    color: @color-less-light-grey;
}

QHeaderView::section {
    background-color: @color-dark-grey;
    border:none;
    padding:@padding-small;
}

QHeaderView::section:horizontal {
        border-right: @margin solid @color-very-dark-grey;
}

QHeaderView::section:vertical {
        border-bottom: @margin solid @color-very-dark-grey;
}

/* TABS */

QTabWidget { border: none; }
QTabWidget::pane { border: none; } /* Main panel */
QTabWidget::pane:left { border-top-right-radius: @padding-large; border-bottom-right-radius: @padding-large; } /* Tabs on left */
QTabWidget::pane:top { border-bottom-right-radius: @padding-large; border-bottom-left-radius: @padding-large; } /* Tabs on top */
QTabWidget::pane:right { border-top-left-radius: @padding-large; border-bottom-left-radius: @padding-large; } /* Tabs on right */
QTabWidget::pane:bottom { border-top-right-radius: @padding-large; border-top-left-radius: @padding-large; } /* Tabs on bottom */
/* Tab buttons */
QTabBar { border: 0; qproperty-drawBase: 0; }
QTabBar::tab {
    border-radius: @padding-small;
    padding: @padding-small;
    margin: @margin;
    background-color: rgba(0,0,0,0);
    color: @color-light-grey;
}
QTabBar::tab:selected {
    background-color: @color-very-dark-grey;
    color: @focus;
}
QTabBar::tab:hover { background-color: @focus-dark; }

/* TREES */

QTreeWidget {
    background-color: @color-very-dark-grey;
    alternate-background-color: @color-darker-grey;
    color: @color-less-light-grey;
    selection-color: @color-light-grey;
    selection-background-color: @color-less-dark-grey;
    border: none;
}

QTreeWidget::item:hover {
    background-color: @focus-dark;
}

QTreeWidget::item:selected {
    background-color: @color-abyss-grey;
    border: none;
}

/* GROUPBOXES */

QGroupBox {
    border-radius: @padding-small;
    padding: @padding-large;
    padding-top: @padding-extra-large;
    background-color: @color-darker-grey;
}

QGroupBox::title {
    color: @color-light-grey;
    padding: @padding-medium;
}

QGroupBox QWidget {
    background-color: @color-transparent;
}

QGroupBox QLineEdit {
    background-color: @color-very-dark-grey;
}


/* TOOLBARS */

QToolBar {
    background-color: @color-less-dark-grey;
    border: none;
    padding: @margin;
}

QToolBar::handle:top, QToolBar::handle:bottom {
    image: url(:/icons/vgrip);
    padding-left: @margin;
    padding-right: @margin;
}

QToolBar::handle:left, QToolBar::handle:right {
    image: url(:/icons/hgrip);
    padding-top: @margin;
    padding-bottom: @margin;
}

QToolBar QWidget {
    background-color: rgba(0,0,0,0);
}

QToolBar:top QWidget, QToolBar:bottom QWidget {
    margin-right: @margin;
}

QToolBar:left QWidget, QToolBar:right QWidget {
    margin-bottom: @margin;
}

QToolBar QLineEdit, QToolBar QComboBox, QToolBar QAbstractSpinBox {
    background-color: @color-dark-grey;
}

QToolBar QToolButton:hover {
    background-color: @focus-dark;
}

QToolBar QToolButton:pressed {
    background-color: @color-abyss-grey;
}

QToolBar QToolButton:disabled {
    background: none;
    color: @color-less-light-grey;
}

QToolBar QToolButton:checked  {
    background-color: @color-dark-grey;
}

QToolBar QComboBox:hover {
    background-color: @focus-dark;
}

QToolBar DuQFSlider, QToolBar DuQFDoubleSlider {
    color: @color-light-grey;
    border-radius: @padding-small;
    height: @small-button-size;
    background-color:@color-very-dark-grey;
}

QToolBar DuQFSlider::chunk, QToolBar DuQFDoubleSlider::chunk {
    border-radius: @padding-small;
    background-color:@color-dark-grey;
}

QToolBar DuQFSlider::chunk:hover, QToolBar DuQFDoubleSlider::chunk:hover {
    background-color: @focus;
}

QToolBar #menuButton {
    background-color: @color-dark-grey;
    max-height: @padding-extra-large;
}

QToolBar #menuButton:hover {
    background-color: @focus-dark;
}

/* STATUSBAR */

QStatusBar {
    background-color: @color-very-dark-grey;
    color: @color-less-light-grey;
    padding: @margin;
}

QStatusBar::item {
    border: none;
}

QStatusBar QWidget {
    background: none;
    color: @color-less-light-grey;
}

QStatusBar QProgressBar {
    background-color: @color-abyss-grey;
}

QStatusBar QLabel {
    color: @color-less-light-grey;
}

QStatusBar QSizeGrip {
    background: qlineargradient(x1: 0, y1: 0, x2: 1, y2: 1,
      stop: 0.5 @color-very-dark-grey, stop: 0.55 @color-medium-grey);
}

QStatusBar QToolButton {
    width: @very-small-button-size;
    height: @very-small-button-size;
    padding: @margin;
    border-radius: @margin;
}

QStatusBar QToolButton:hover {
    background-color: @focus-dark;
}

QStatusBar QToolButton:checked {
    background-color: @color-abyss-grey;
}

QStatusBar QToolButton:pressed {
    background-color: @color-abyss-grey;
}

/* SPLASH SCREEN */

QSplashScreen QProgressBar {
    height: @big-button-size;
    text-align: left;
    border-radius: 0;
}

QSplashScreen QLabel {
    background: transparent;
    color: @color-dark-grey;
}

/* GRAPHICS VIEW */

QGraphicsView {
    selection-background-color: rgba(129, 9, 173, 127);
}

/* DOCKS */

QDockWidget {
    background-color: @color-darker-grey;
}

QDockWidget QWidget {
    background-color: @color-darker-grey;
}

QDockWidget QComboBox,
QDockWidget QComboBox::item,
QDockWidget QComboBox QAbstractItemView
{
    background-color: @color-less-dark-grey;
}

QDockWidget QToolButton:disabled {
    background: none;
}

DuDockTitleWidget QFrame {
    background-color: @color-less-dark-grey;
    border-radius: @padding-small;
    margin: @padding-small @padding-small 0 @padding-small;
}

DuDockTitleWidget QToolButton {
    background-color: @color-less-dark-grey;
}

DuDockTitleWidget QToolButton:checked {
    background-color: @color-very-dark-grey;
}

DuDockTitleWidget #windowButton {
    max-width: @padding-large;
}

/* DUQF CUSTOM WIDGETS */

#duqf_block {
    background-color: @color-very-dark-grey;
}

/* HUD */

#HUDWidget {
    background: none;
}

#HUDWidget QToolButton:disabled{
    background: none;
}

/* ====================================== */
/* =========== NEW STYLES =============== */
/* ====================================== */

/* -------------------------------------- */
/* -------- DuWidgets Base -------------- */
/* -------------------------------------- */

/* Scroll Area and Scroll Bars */

DuScrollBar { background-color: rgba(0,0,0,0); }

DuScrollBar::add-page, DuScrollBar::sub-page {
    background-color: @color-dark-grey;
}

/* CUSTOM SLIDERS */

DuQFSlider, DuQFDoubleSlider {
    color: @color-light-grey;
    border-radius: @padding-small;
    background-color: @color-very-dark-grey;
}
DuQFSlider::chunk, DuQFDoubleSlider::chunk {
    border-radius: @padding-small;
}
DuQFSlider::chunk:hover, DuQFDoubleSlider::chunk:hover {
    background-color: @focus-dark;
}

/* SPLITTERS */

QSplitter::handle {
    image:none;
    /*background-color: qlineargradient( x1:0, y1:0.5, x2:1, y2:0.5,
                        stop:0 rgba(0,0,0,0), stop:0.5 @color-abyss-grey, stop:1 rgba(0,0,0,0));*/
    background-color: rgba(0,0,0,0);
    border-radius: @padding-small;
    margin: @margin;
}

QSplitter::handle:horizontal {
    max-width: @padding-small;
}

QSplitter::handle:vertical {
    max-height: @padding-small;
}

QSplitter::handle:vertical:pressed {
    background-color: qlineargradient( x1:0, y1:0.5, x2:1, y2:0.5,
                        stop:0 rgba(0,0,0,0), stop:0.5 @focus, stop:1 rgba(0,0,0,0));
}

QSplitter::handle:horizontal:pressed {
    background-color: qlineargradient( x1:0.5, y1:0, x2:0.5, y2:1,
                        stop:0 rgba(0,0,0,0), stop:0.5 @focus, stop:1 rgba(0,0,0,0));
}

DuTextBrowser DuScrollBar::add-page,
DuTextBrowser DuScrollBar::sub-page {
    background-color: @color-very-dark-grey;
}

/* -------------------------------------- */
/* -------- DuWidgets Classes ----------- */
/* -------------------------------------- */

/* Tabs */
.duTabs { background-color: @color-abyss-grey; border-radius: @padding-large; } /* Background widget for tabs */
